<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link href="/css/memberForm.css" rel="stylesheet"/>
</head>
<header>
    <h2><a href="/">편의점 POS</a></h2>
</header>
<body>
<div id="form-container">
    <form method="post" role="form" th:action="@{/members/new}" th:object="${memberForm}">
        <div id="form-inner-container">
            <div id="sign-up-container">
                <div id="input-container">
                    <h2>회원가입</h2>
                    <label th:for="name">이름</label>
                    <input placeholder="이름" th:field="*{name}" type="text">

                    <label th:for="email">이메일</label>
                    <input placeholder="이메일" th:field="*{email}" type="email">

                    <label th:for="memberId">아이디</label>
                    <input placeholder="아이디" th:field="*{memberId}" type="text">

                    <label th:for="password">비밀번호</label>
                    <input placeholder="비밀번호" th:field="*{password}" type="text">
                </div>
                <div class="form-check">
                    <input th:field="*{role}" type="radio" value="MANAGER">
                    <label th:for="role"> 매니저</label>

                    <input th:field="*{role}" type="radio" value="EMPLOYEE">
                    <label th:for="employee">직원</label>
                </div>
                <button type="submit"> 회원가입</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>