<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page - POS</title>
    <link href="/css/main.css" rel="stylesheet"/>
</head>
<body>
<header>
    <h2>편의점 POS</h2>
    <nav id="navbar" class="navbar">
        <ul class="nav-container">
            <li class="nav-item"><a href="/members/login">로그인</a></li>
            <li class="nav-item"><a href="/members/new">회원가입</a></li>
        </ul>
    </nav>
</header>

<div class="body-container">
    <div class="menu-container">
        <h4 class="title"> <a href="/items/list">상품 목록</a></h4>
    </div>
    <div class="menu-container">
        <h4 class="title"><a href="/items/new">상품 등록</a></h4>
    </div>
    <div class="menu-container">
        <h4 class="title"><a href="/sale">상품 주문</a></h4>
    </div>
    <div class="menu-container">
        <h4 class="title"> <a href="/static">판매 통계</a></h4>
    </div>

</div>

</body>
</html>